@import '~bootstrap/scss/bootstrap';

:root{
    background: rgb(249,202,48);
    background: linear-gradient(0deg, rgba(249,202,48,0.7357317927170868) 0%, rgba(239,61,23,0.7805497198879552) 100%);

    // /* CSS HEX */
    --india-green: #318411ff;
    --golden-gate-bridge: #ef5117ff;
    --sunglow: #f9ca30ff;
    --light-golden-gate: #ef3d17;

    $india-green: #318411ff;
}

.body-bg{
    background: var(--background);
    background: var(--background-gradient);
}

.bg-form{
    background: rgba(255, 255, 255, 0.31);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.8px);
    -webkit-backdrop-filter: blur(7.8px);
}

.navbar-orange{
    background-color: var(--light-golden-gate);
    color: white;
}

.my-bg-green{
    background-color: var(--india-green);
    border-color: none;
}

img{
    display: block;
    width: 100%;
}

#style-links {
    color: white;
    text-decoration: none;
    
    // Stile per il link attivo
    &:active {
        background-color: rgb(7, 77, 45);
    }
    
    // Stile per il link durante il passaggio del mouse sopra di esso
    &:hover {
        color: rgb(53, 179, 120);
    }
}

.form-control.success{
    input{
        border-color: green;
    }
}

input{
    .form-control.error{
        border-color: red;
    }
}

i{
    position: absolute;
    right: 12px;
    top: 40px;
    visibility: hidden;
}

.form-control{
    small{
        visibility: visible;
    }
}

.form-control.error{
    small{
        visibility: hidden;
        color: red;
        position: absolute;
        left: 0;
    }
}

.form-control.success{
    .fa-check-circle{
        color: green;
        visibility: visible;
    }
}

.form-control.error{
    i.fa-exlamation-circle{
        color: #ef3d17;
        visibility: visible;
    }
}